* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    display: flex;
    flex-direction: row;
}

input {
    width: 30%;
    margin: auto;
    margin-bottom: 40px;
    border-style: hidden;
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid teal;
}

.item {
    width: 20%;
    margin: auto;
    margin-left: 40px;
    font-size: 18px;
}

body {
    margin: auto;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 250px;
    margin-left: 5%;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.8;
    background-color: teal;
    color: #ddd;
}

.computing {
    display: inline-flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 50px;
}

.clothing {
    display: inline-flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 50px;
}

.home-app {
    display: inline-flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 50px
}

.navigate {
    display: inline-flex;
    flex-direction: row;
    margin: auto;
    margin-top: 40px;
    margin-left: 50px;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: orangered;
}